/* @theme dramsch */

@import 'uncover';

  :root {
    --color-background: #eee;
    --color-background-code: #ddd;
    --color-background-header: #222;
    --color-background-paginate: rgba(128, 128, 128, 0.05);
    --color-foreground: #111;
    --color-highlight: #f9bf3b;
    --color-highlight-hover: #f7af0a;
    --color-highlight-heading: #f9bf3b;
    --color-header: #777;
    --color-header-shadow: transparent;
    font-family: 'Roboto', 'Oswald', 'Lato', 'Helvetica';
    padding: 60px 70px;
    display: block;
    background-image: linear-gradient(to top, var(--color-background) 77%, var(--color-background-header) 77%);
  }

  :root.invert {
    --color-background: #111;
    --color-background-code: #aaa;
    --color-background-header: #222;
    --color-background-paginate: rgba(15, 15, 15, 0.05);
    --color-foreground: #eee;
    --color-highlight: #f9bf3b;
    --color-highlight-hover: #f7af0a;
    --color-highlight-heading: #f9bf3b;
    --color-header: #999;
    --color-header-shadow: transparent;
    
    font-weight: 400;
  }

  :root.lead {
    display: flex;
    background-image: none !important;
  }

  :root.lead header, :root.lead footer{
    display: none;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
    margin-bottom: 40px;
  }
